
/* modules.css */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.spaceEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.columnStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.columnEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
